[Unit]
Description=Wayland VNC server for Cage with Chromium
After=chromium.service
BindsTo=chromium.service

[Service]
Type=simple
User=digsig
Group=digsig
PassEnvironment=XDG_RUNTIME_DIR WAYLAND_DISPLAY
ExecStart=/usr/bin/wayvnc -C /etc/wayvnc.conf
Restart=always
PAMName=cage
