[Unit]
Description=Wayland VNC server for Cage
After=chromium.service installation-instructions.service unconfigured-warning.service

[Service]
Type=simple
User=digsig
Group=digsig
PassEnvironment=XDG_RUNTIME_DIR WAYLAND_DISPLAY
ExecStart=/usr/bin/wayvnc -C /etc/wayvnc.conf
Restart=on-failure
PAMName=cage
RestartSec=5
